/* Group 1707480035 */

position: absolute;
width: 302px;
height: 369px;
left: 1008px;
top: 482px;

/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 20px;
gap: 10px;

position: absolute;
width: 86px;
height: 46px;
left: 1217px;
top: 758px;

background: #76b729;
border-radius: 8px;

/* Button */

width: 46px;
height: 19px;

font-family: "Inter";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #ffffff;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Practical Info */

position: absolute;
width: 129px;
height: 24px;
left: 1008px;
top: 482px;

font-family: "Inter";
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #282837;

/* This Course includes: */

position: absolute;
width: 213px;
height: 24px;
left: 1008px;
top: 573px;

font-family: "Inter";
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #282837;

/* Price:  */

position: absolute;
width: 59px;
height: 24px;
left: 1008px;
top: 523px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #282837;

/* SR 2,000 */

position: absolute;
width: 91px;
height: 24px;
left: 1219px;
top: 523px;

font-family: "Inter";
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #76b729;

/* Apply coupoun */

position: absolute;
width: 123px;
height: 19px;
left: 1009px;
top: 730px;

font-family: "Inter";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #282837;

/* Group 1707480031 */

position: absolute;
width: 76px;
height: 24px;
left: 1009px;
top: 827px;

/* Share */

position: absolute;
width: 46px;
height: 19px;
left: 1009px;
top: 829px;

font-family: "Inter";
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #76b729;

/* send-2 */

position: absolute;
width: 24px;
height: 24px;
left: 1061px;
top: 827px;

/* vuesax/linear/send-2 */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

/* send-2 */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

/* Vector */

position: absolute;
left: 12.99%;
right: 13%;
top: 12.99%;
bottom: 12.99%;

border: 1.5px solid #76b729;

/* Vector */

position: absolute;
left: 42.12%;
right: 42.96%;
top: 41.92%;
bottom: 43.12%;

border: 1.5px solid #76b729;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

opacity: 0;

/* Rectangle 34625521 */

position: absolute;
width: 201px;
height: 46px;
left: 1008px;
top: 758px;

background: #ffffff;
border-radius: 4px;

/* Enter coupon */

position: absolute;
width: 101px;
height: 19px;
left: 1017px;
top: 772px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #9b9b9b;

/* Group 1707480032 */

position: absolute;
width: 241px;
height: 24px;
left: 1008px;
top: 618px;

/* 4.5 hours on-demand video */

position: absolute;
width: 209px;
height: 19px;
left: 1040px;
top: 621px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #282837;

/* video-play */

position: absolute;
width: 24px;
height: 24px;
left: 1008px;
top: 618px;

/* vuesax/linear/video-play */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

/* video-play */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 1.5px solid #292d32;

/* Vector */

position: absolute;
left: 10.5%;
right: 10.5%;
top: 29.62%;
bottom: 70.38%;

border: 1.5px solid #292d32;

/* Vector */

position: absolute;
left: 35.5%;
right: 64.5%;
top: 8.79%;
bottom: 70.96%;

border: 1.5px solid #292d32;

/* Vector */

position: absolute;
left: 64.5%;
right: 35.5%;
top: 8.79%;
bottom: 72.83%;

border: 1.5px solid #292d32;

/* Vector */

position: absolute;
left: 40.62%;
right: 36.47%;
top: 48.01%;
bottom: 27.59%;

border: 1.5px solid #292d32;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

opacity: 0;

/* Group 1707480033 */

position: absolute;
width: 266px;
height: 24px;
left: 1008px;
top: 650px;

/* Access on mobile and Desktop */

position: absolute;
width: 234px;
height: 19px;
left: 1040px;
top: 653px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #282837;

/* monitor-mobbile  */

position: absolute;
width: 24px;
height: 24px;
left: 1008px;
top: 650px;

/* vuesax/linear/monitor-mobbile */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

/* monitor-mobbile */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

/* Vector */

position: absolute;
left: 8.33%;
right: 12.71%;
top: 10.54%;
bottom: 29.37%;

border: 1.5px solid #292d32;

/* Vector */

position: absolute;
left: 41.67%;
right: 58.33%;
top: 70.62%;
bottom: 10.54%;

border: 1.5px solid #292d32;

/* Vector */

position: absolute;
left: 8.33%;
right: 58.33%;
top: 53.96%;
bottom: 46.04%;

border: 1.5px solid #292d32;

/* Vector */

position: absolute;
left: 28.08%;
right: 58.33%;
top: 89.46%;
bottom: 10.54%;

border: 1.5px solid #292d32;

/* Vector */

position: absolute;
left: 52.21%;
right: 8.34%;
top: 41%;
bottom: 10.54%;

border: 1.5px solid #292d32;

/* Vector */

position: absolute;
left: 69.79%;
right: 26.05%;
top: 73.96%;
bottom: 21.88%;

border: 2px solid #292d32;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

opacity: 0;

/* Group 1707480034 */

position: absolute;
width: 220px;
height: 24px;
left: 1008px;
top: 682px;

/* Certificate of completion */

position: absolute;
width: 188px;
height: 19px;
left: 1040px;
top: 685px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #282837;

/* cup */

position: absolute;
width: 24px;
height: 24px;
left: 1008px;
top: 682px;

/* vuesax/linear/cup */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

/* cup */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;

/* Vector */

position: absolute;
left: 50.63%;
right: 49.37%;
top: 68.75%;
bottom: 22.5%;

border: 1.5px solid #292d32;

/* Vector */

position: absolute;
left: 29.79%;
right: 28.54%;
top: 79.17%;
bottom: 8.33%;

border: 1.5px solid #292d32;

/* Vector */

position: absolute;
left: 25.63%;
right: 24.37%;
top: 91.67%;
bottom: 8.33%;

border: 1.5px solid #292d32;

/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 8.33%;
bottom: 33.33%;

border: 1.5px solid #292d32;

/* Vector */

position: absolute;
left: 8.5%;
right: 77.21%;
top: 18.12%;
bottom: 51.46%;

border: 1.5px solid #292d32;

/* Vector */

position: absolute;
left: 77.21%;
right: 8.5%;
top: 18.12%;
bottom: 51.46%;

border: 1.5px solid #292d32;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

opacity: 0;
