.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.label {
  font-size: 14px;
  font-weight: 700;
  color: #333;
  margin-bottom: -3px;
}

.input {
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  color: #333;
  width: 100%;
}

.input::placeholder {
  color: #999;
}

.input:focus {
  outline: none;
  border-color: #7CB342;
  box-shadow: 0 0 0 2px rgba(124, 179, 66, 0.2);
}

.button {
  background-color: var(--green-primary);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 14px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
}

.button:hover {
  background-color: #689F38;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #666;
  font-size: 14px;
  margin: 3px 0;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  height: 0.2px;
  background-color: #ccc;
}

.divider::before {
  margin-right: 12px;
}

.divider::after {
  margin-left: 12px;
}
