@import "tailwindcss";
@import "tw-animate-css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:is(.dark *));

:root {
  --font-inter: "Inter", sans-serif;
  --background: #ffffff;
  --foreground: #171717;
  --green-primary: #76B729;
  --black-primary:#282837;
}

/* Prevent horizontal scroll bars */
html, body {
  overflow-x: hidden;
  max-width: 100vw;
  scroll-behavior: smooth;
}

/* Ensure smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar styling (optional) */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}
