@import "tailwindcss";
@import "tw-animate-css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:is(.dark *));
:root {
  --font-inter: "Inter", sans-serif;
  --background: #ffffff;
  --foreground: #171717;
  --green-primary: #76B729;
  --black-primary:#282837;
}
